SUPABASE_URL="https://wchotjyxfquzqebteeec.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_rwJ7JdFmZFNV1Vn0AryMfQ_SUSuepPF"
SUPABASE_SECRET_KEY="your-supabase-secret-key"
SUPABASE_JWKS_URL="https://wchotjyxfquzqebteeec.supabase.co/auth/v1/.well-known/jwks.json"  